# Auto deploy repo from Github to Amazon S3 bucket via Travis CI
# * Set env vars for ACCESS_KEY_ID and SECRET_ACCESS_KEY on Travis
# * Update `bucket.name` in `sync` command
# * Assumes your `publishDir` is the default (`public`) - if not update `sync` command

language: go
install: go get -v github.com/spf13/hugo
script:
  - hugo version
  - hugo
  - python --version
  - sudo pip install s3cmd
  - s3cmd sync --delete-removed --access_key=$ACCESS_KEY_ID --secret_key=$SECRET_ACCESS_KEY -P -M -r public/ s3://alperyilmaz.site
notifications:
    email:
        on_failure: always
